/*! Connect the elvish font to the page for rendering */



@font-face {
    font-family: 'elvish_ring_nfiregular';
    src: url('elvish_ring_nfi-webfont.woff2') format('woff2'),
         url('elvish_ring_nfi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

